<div class="container">
  <button
    class="btn"
    (click)="toggleBold()"
    [ngClass]="{ toggled: editor.isActive('bold') }"
  >
    B
  </button>
  <button
    class="btn"
    (click)="toggleItalic()"
    [ngClass]="{ toggled: editor.isActive('italic') }"
  >
    I
  </button>
  <button
    class="btn"
    (click)="toggleUnderline()"
    [ngClass]="{ toggled: editor.isActive('underline') }"
  >
    U
  </button>
  <button
    class="btn"
    (click)="toggleBulletList()"
    [ngClass]="{ toggled: editor.isActive('bulletList') }"
  >
    UL
  </button>
  <button
    class="btn"
    (click)="toggleOrderedList()"
    [ngClass]="{ toggled: editor.isActive('orderedList') }"
  >
    OL
  </button>
  <button class="btn" (click)="undo()" [disabled]="!canUndo()">UNDO</button>
  <button class="btn" (click)="redo()" [disabled]="!canRedo()">REDO</button>
  <button
    class="btn"
    (click)="leftAlign()"
    [ngClass]="{ toggled: editor.isActive({ textAlign: 'left' }) }"
  >
    LEFT ALIGN
  </button>
  <button
    class="btn"
    (click)="centerAlign()"
    [ngClass]="{ toggled: editor.isActive({ textAlign: 'center' }) }"
  >
    CENTER ALIGN
  </button>
  <button
    class="btn"
    (click)="rightAlign()"
    [ngClass]="{ toggled: editor.isActive({ textAlign: 'right' }) }"
  >
    RIGHT ALIGN
  </button>
  <button
    class="btn"
    (click)="justifyAlign()"
    [ngClass]="{ toggled: editor.isActive({ textAlign: 'justify' }) }"
  >
    JUSTIFY ALIGN
  </button>
  <input
    type="color"
    (change)="setColor($event)"
    [value]="getCurrentFontColor()"
  />
  <div>
    <label for="font-size">Font Size:</label>
    <select
      name="font-size"
      (change)="setFontSize($event)"
      [value]="getCurrentFontSize()"
    >
      <option selected value>-- Unset --</option>
      <option
        *ngFor="let font of fontSizes"
        [value]="font.cssValue"
        [style.font-size]="font.cssValue"
      >
        {{ font.display }}
      </option>
    </select>
  </div>
  <div>
    <label for="font-family">Font Family:</label>
    <select
      name="font-size"
      (change)="setFontFamily($event)"
      [value]="getCurrentFontFamily()"
    >
      <option selected value>-- Unset --</option>
      <option
        *ngFor="let font of fontFamilies"
        [value]="font.cssValue"
        [style.font-family]="font.cssValue"
      >
        {{ font.display }}
      </option>
    </select>
  </div>
  <div>
    <button class="btn" (click)="addImageFromUrl()">IMAGE URL</button>
  </div>
  <div>
    <input
      type="file"
      hidden
      #imageUploader
      (change)="addImageFromFile($event)"
    />
    <button class="btn" (click)="imageUploader.click()">IMAGE FILE</button>
  </div>
</div>
