@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import '@angular/cdk/overlay-prebuilt.css';

html,
body {
  font-family: 'Roboto';
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
