<div style="display: flex; justify-content: center">
  <play-card>
    <h2>Buttons</h2>
    <button playButtonFlat>Flat Button</button>
    &nbsp;
    <button playButtonFlat disabled>Disabled</button>
    &nbsp;
    <br />
    <br />
    <button playButtonOutline>Outline Button</button>
    &nbsp;
    <button playButtonOutline disabled>Disabled</button>
    <br />
    <br />
    <h2>Text Input</h2>
    <input
      style="width: 100%"
      type="text"
      playInputText
      [formControl]="name"
      placeholder="Play Text Input"
    />
    <br />
    <h2>Counter</h2>
    <play-counter [formControl]="totalQuantity" [increment]="5"></play-counter>
  </play-card>
</div>
