// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  background-color: #fafafa;
  font-family: 'Roboto';
  height: 100%;
  margin: 0px;
}

:root {
  --play-primary: 31, 70, 144;
  --play-primary-color: rgba(var(--play-primary), 1);
  --play-primary-color-lighter: rgba(var(--play-primary), 0.5);
  --play-primary-color-lightest: rgba(var(--play-primary), 0.15);

  --play-accent: 255, 165, 0;
  --play-accent-color: rgba(var(--play-accent), 1);
  --play-accent-color-lighter: rgba(var(--play-accent), 0.5);
  --play-accent-color-lightest: rgba(var(--play-accent), 0.15);

  --play-success-color: #16d067;
  --play-error-color: #d02c16;
  --play-warning-color: #d0b716;

  --play-text-color: #023047;
}
